<div class="container">

    <div>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div><h1>User Registration</h1></div>
          <label for="userName"  >User Name:</label>
          <input type="text" id="userName" formControlName="userName">
          <br>
        
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password">
          <br>
        
          <label for="dob">Date of Birth:</label>
          <input type="date" id="dob" formControlName="dob">
          <br>
        
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email">
          <br>
        
          <label for="contactNumber">Contact Number:</label>
          <input type="number" id="contactNumber" formControlName="contactNumber">
          <br>
        
          <button id="save" type="submit">Save</button>
        </form>
  
    </div>
</div>



  
  
  