<div class="container">
    <div>
        <div>
            <form class="form" action="" method="post">
                <h1>Add Equipment</h1>
                <tr>
                    <td><label>Equipment Name</label></td>
                    <td><input type="text" placeholder="Enter equipment name"></td>
                </tr>
                <tr>
                    <td><label>Description</label></td>
                    <td><input type="text" placeholder="Enter description"></td>
                </tr>
                <tr>
                    <td><label>Brand</label></td>
                    <td><input type="text" placeholder="Enter the brand"></td>
                </tr>
                <tr>
                    <td><label>Purchase Date</label></td>
                    <td><input type="date"></td>
                </tr>
                <tr>
                    <td><label>Quantity</label></td>
                    <td><input type="number" placeholder="Enter quantity"></td>
                </tr>
               
                <tr>
                    <td><input class="reset" type="reset"></td>
                    <td><input class="submit" type="submit" value="Add"></td>
                </tr>
            </form>
        </div>
    </div>
</div>



