*{
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    color: #e7eaf6;  
}
.container{
    background-image: url('../../../../../images/image8.jpg');
    background-size: cover;
    height: 100vh;
    width: 68.5%;
}
.form{
    border: 2px solid black;
    background-color:#113f67;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    width:32%;
    height:100vh;
    /* margin-top: 130px; */
    margin-left: 910px;
}
.form h1{
    text-align: center;
    margin-top: 130px
    ;
    font-size:30px;
}
form input{
    border: 1px solid black;
    border-radius: 10px;
    height: 35px;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    color:#5a6269f1
}
form .submit{
    height: 40px;
    width: 150px;
    margin-left: 50px;
    background-color:#a2a8d3;
    color: black; 
    cursor: pointer;
}
form .reset{
    height: 40px;
    width: 150px;
    margin-left: 50px;
    background-color:#e7eaf6;
    color: black;
    cursor: pointer;
}
/* ---colors---
#113f67 ---> darkest blue
#38598b ---> dark blue
#a2a8d3 ---> light blue
#e7eaf6 ---> grey white
*/