<div class="container">
    <div>
        <div>
            <form class="form"  #frmRegister="ngForm" (submit)="saveWorkout(frmRegister.value)" action="" method="post">
                <h1>WORKOUT</h1>
                <tr>
                    <td><label>User id</label></td>
                    <td><input type="text" [(ngModel)]="workout.userId" name=userId placeholder="Enter user id"></td>
                </tr>
                <tr>
                    <td><label>Date</label></td>
                    <td><input type="date" [(ngModel)]="workout.workoutDate" name=workoutDate ></td>
                </tr>
                <tr>
                    <td><label>Duration(in hours)</label></td>
                    <td><input type="number" [(ngModel)]="workout.duration" name=duration  placeholder="Enter duration in hours"></td>
                </tr>
                <tr>
                    <td><label>Calories burned (in kcal)</label></td>
                    <td><input type="number" [(ngModel)]="workout.caloriesBurned" name=caloriesBurned  placeholder="Enter calories burned"></td>
                </tr>
                <tr>
                    <td><label>Note</label></td>
                    <td><input type="text" [(ngModel)]="workout.note" name=note placeholder="Enter your note"></td>
                </tr>
                <tr>
                    <td><input class="reset" type="reset"></td>
                    <td><input class="submit" type="submit" value="Set Workout" routerLink="workout"></td>
                </tr>
            </form>
            <button type="submit" routerLink="/users" >Exit</button> 
        </div>
    </div>
</div>


