<div class="container-fluid">
    <form action="#" method="post">
      <div class="form-group">
        <label for="doctorName">Doctor Name</label>
        <input type="text" class="form-control" name="doctorName" id="doctorName">
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <input type="text" class="form-control" name="gender" id="gender">
      </div>
      <div class="form-group">
        <label for="experience">Year Of Experience</label>
        <input type="number" class="form-control" name="experience" id="experience">
      </div>
      <div class="form-group">
        <label for="contactNo">Contact No</label>
        <input type="text" class="form-control" name="contactNo" id="contactNo">
      </div>
      <div class="form-group">
        <label for="shiftTime">Shift Time</label>
        <input type="text" class="form-control" name="shiftTime" id="shiftTime">
      </div>
      <div class="form-group">
        <label for="specialization">Specialization</label>
        <input type="text" class="form-control" name="specialization" id="specialization">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
