*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather';
}
.container-fluid{
    background-image: url('../../../../../images.css/image7.avif');
    background-size: cover;
    color:white;
    text-align: center;
    width: 100%;
    height:100vh;
    margin-top: -50px; 
    padding-top: 20px;
    font-size: x-large;
}
 #heading h3,p{
    text-align: center;
    margin-top: 70px;
  }
  h3{
    font-size: 50px;
  }

#heading {
    margin-top: 70px;
    color: #fff;
    text-align: center;
    padding: 30px;
}
.container{
    display: flex;
    justify-content: space-between      ;
    align-self: center;
    width: 100%;
    height: auto;
}
.image1{
    display: inline-block;
    background:url('../../../../../images.css/image9.avif');
    width: 50%;
    height:80vh;
    color: #fff;
    margin-left: 5px;
    margin-top: 5px ;
  
}
.text{
    width: 50%;
    height:80vh;
    text-align: center;
    margin-top: 30px;
    font-size: xx-large;
    /* margin-left: 10px; */
}
.image2{
    display: inline-block;
    background:url('../../../../../images.css/image10.webp');
    width: 50%;
    height:80vh;
    color: #fff;
    margin-left: 30px;
  
}
.footer{
    margin-top: -25px;
    background-color:#4f7bf3;
    width: 100%;
    height: 50vh;
    display: flex;
    padding-left: 20px;
    
}
.foo1 ul{
    margin-left: 10px;
     margin-top: 30px;
    text-decoration: none;
    list-style-type: none;
    color:orange;
}
.foo1 ul li{
    padding-bottom: 50px;
}
.foo2 ul{
    margin-left: 50px;
     margin-top: 30px;
    text-decoration: none;
    list-style-type: none;
    color:orange;
}
.foo2 ul li{
    padding-bottom: 50px;
}
.foo3 p{
    color:orange;
    margin-left: 70px;
    font-size:larger;
}
.foo4 a{
    margin-left: 90px;
    margin-top: 30px;
    color:orange;
    text-decoration: none;
    margin-top: 50px;
}
.icons{
    margin-left: 90px;
    margin-top: 30px;
    color:orange;
    text-decoration: none;
    margin-top: 50px;
    padding: 30px;
}