<div class="container-fluid">
  <div id="heading">
     <h3>MEMBERSHIPS</h3>
       <p>Get started on your fitness journey at a Fitness Project nearest you!</p>
  </div>
</div>
<div class="container">
      <div  class="image1"></div>
      <div class="text">
        <p style="color: orange;">CRUSH YOUR GOALS AND <br> ELEVATE YOUR<br> LOCAL COMMUNITY </p>
        <h5>We believe fitness has the power to transform people at <br>their roots helping them be the best they can be <br>so they can make the world a better place.<br> It’s time to tap into your potential.
           Sign up for a <br>free pass and discover why Fitness Project is <br>one of the best gyms in Texas.</h5>
       </div>
</div>
<div class="container">
  <div class="text">
    <p style="color: orange;">IMPROVE YOURSELF &<br>
      IMPROVE THE WORLD </p>
    <h5>You’ll be energized to move with purpose, toward<br> your next fitness goal while contributing <br>to the community aroundyou. 
      And together,<br> we all become stronger.</h5>
   </div>
   <div  class="image2"></div>
</div>
<div class="container">
  <div  class="image2"></div>
  <div class="text">
    <p style="color: orange;">BEST-IN-CLASS<br>
      SPACES, AMENITIES & <br>A VARIETY OF CLASSES </p>
    <h5>Take advantage of our many amenities and a<br>  great variety of fitness classes designed to meet the<br>  needs of gym members at every stage of their health <br> and wellness journey. 
      These include group<br>  exercise classes, and personal training.</h5>
   </div>
</div>
<div class="footer">
  <div class="foo1">
    <ul>
      <li>LOCATIONS</li>
      <li>CLASSES</li>
      <li>PERSONAL COACHING</li>
      <li>GIVINGBACK</li>
    </ul>
  </div>
  <div class="foo2">
    <ul>
      <li>CONTACT</li>
      <li>ABOUT</li>
      <li>MEMBER LOGIN</li>
      <li>TERMS & POLICY</li>
    </ul>
  </div>
  <div class="foo3">
    <p>Copyright 2024<br>
      © GGH -The Fitness Group, LLC and Start Fitness and<br> Nutrition, LLC.  All Rights Reserved.
        FITNESS PROJECT <br>and the Fitness Project Logos are trademarks of Start <br>Fitness and Nutrition, LLC, used with permission</p>
  </div>
  <div class="foo4">
    <a href="#">FOLLOW US
    <div class=" icons">
    <i class="bi bi-facebook">fb</i><br>
    <i class="bi bi-instagram">insta</i><br>
    <i class="bi bi-youtube">youtube</i><br>
    <i class="bi bi-linkedin">linkedin</i>
  </div>
  </a>
  </div>
</div>
   
   

