
<body>

<table id="table" style="border: 1px solid black; border-collapse: collapse;" >
    <thead style="border: 1px solid black;">
      <tr style="border: 1px solid black;">
        <th class="th" style="border: 1px solid black;">User ID</th>
        <th class="th" style="border: 1px solid black;">User Name</th>
        <th class="th" style="border: 1px solid black;">Age</th>
        <th class="th" style="border: 1px solid black;">Year Of Experience</th>
        <th class="th" style="border: 1px solid black;">Shift Timings</th>
        <th class="th" style="border: 1px solid black;">Certification</th>
        <th class="th" style="border: 1px solid black;">Contact Number</th>
        <th id="action" style="border: 1px solid black;">Action</th>


      
          
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trainer of trainers">
        <td style="border: 1px solid black;">{{ trainer.trainerId }}</td>
        <td style="border: 1px solid black;">{{ trainer.name }}</td>
        <td style="border: 1px solid black;">{{ trainer.age }}</td>
        <td style="border: 1px solid black;">{{ trainer.yearOfExperience }}</td>
        <td style="border: 1px solid black;">{{ trainer.shiftTimings }}</td>
        <td style="border: 1px solid black;">{{ trainer.certification }}</td>
        <td style="border: 1px solid black;">{{ trainer.contactNumber }}</td>
        <td id="buttons">
         
<button id="edit" routerLink="/trainers/edit/{{ trainer.trainerId }}">Edit</button>
<button id="delete" *ngIf="trainer.trainerId" (click)="deleteTrainer(trainer.trainerId)">Delete</button>



        </td>
      </tr>
    </tbody>
  </table>
  <button id="addtrainer" routerLink="/trainers/add">Add Trainer</button>
</body>
  