.bg-dark{
    height: 600px;
    width: 250px;
}
/* .row{
    border: 1px solid red;
} */
.nav-pills li a span
{
  color: #a2a8d3;
  font-size:21px;
}
.nav-pills li a span:hover
{
    color: #a2a8d3;
    font-size:24px;
    cursor: pointer;
}
.nav-item{
    font-size: 25px; 
    color:#a2a8d3

}

.outlet{
    height: 100vh;
    width:81%;

}
/* ---colors---
#113f67 ---> darkest blue
#38598b ---> dark blue
#a2a8d3 ---> light blue
#e7eaf6 ---> grey white
*/
/* col-md-4 col-lg-2 min-vh-100 d-flex flex-column justify-content-between */